div(layout="column"  layout-align="center center")
  h1.main-card Book a Consultation
  md-card.main-card
    .booking-step
      .p-title Book an appointment for
      div(layout="row")
        l-faces(flex="33" name="'Yourself'" image="patient.picture.thumbnail")
        l-faces(flex="33" ng-repeat="relative in patient.relatives | limitTo:1" name="relative.fullname" image="relative.picture.thumbnail")
        l-faces(flex="33" name="'Someone else'" icon="'person_add'")
    md-divider

    .booking-step
      .p-title Select a healtcare professional
      div(layout="row")
        l-faces(flex="25" ng-click="setProfessionalType('GP')" name="'GP'" icon="'content_paste'" ng-class="{'type-active': professionalType == 'GP'}")
        l-faces(flex="25" ng-click="setProfessionalType('NU')" name="'Nurse'" icon="'add'" ng-class="{'type-active': professionalType == 'NU'}")
        l-faces(flex="25" ng-click="setProfessionalType('TH')" name="'Therapist'" icon="'check_circle'" ng-class="{'type-active': professionalType == 'TH'}")
        l-faces(flex="25" ng-click="setProfessionalType('SP')" name="'Specialist'" icon="'grade'" ng-class="{'type-active': professionalType == 'SP'}")
    md-divider

    .booking-step.centered-text
      .p-title Select the doctor
      md-button.bh-primary(ng-click="selectDoctor($event)") 
        span(ng-if="!currentDoctor") Select
        span(ng-if="currentDoctor") Change
      .selected.uppercase(ng-if="currentDoctor") {{ currentDoctor.fullname }}
    md-divider

    .booking-step
      .p-title Next available appointment
      .selected(ng-if="!!currentDoctor") 
        div {{ nextAvailable.text }}
        div {{ nextAvailable.format }}
    md-divider
      
    .booking-step.centered-text
      p Get the best from your consultation by uploading a photo or a note
      div(layout="row")
        .selected
          md-button.bh-primary(flex="50") Attach a Photo
        .selected
          md-button.bh-primary(flex="50") Attach a Note
    md-divider    
    
    .booking-step.centered-text
      .selected
        md-button.bh-primary(ng-click="booking($event)") Book a consultation
    
