div(layout="column" layout-align="center center")
  h1.main-card Welcome, How Can We Help You?
  md-card.main-card
    .booking-step.centered-text
      md-button.bh-primary(ui-sref="consultation") See a doctor now
